.footer{
    background-color: black;
    color: white;
}

.footer-internal{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--header-or-footer-padding-top) var(--header-or-footer-padding-side);
}

.footer-internal h2,
.footer-internal a{
    font-size: 1.6rem;
    font-weight: 400;

    text-transform: capitalize;
    max-width: 25ch;
    text-align: center;
}

.footer-internal a{
    transition: all .2s;
    color: white;
    text-decoration: none;
}

.footer-internal a:hover{
    text-decoration: underline;
}

.footer-internal .links{
    display: flex;
    column-gap: 2rem;
}