*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-or-footer-padding-top: 1.5rem;
    --header-or-footer-padding-side: 2rem;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}